<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Mobile Jaga Rumah</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<!-- Metro bundler & RTSP stream lokal -->
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<!-- Izin kamera CCTV -->
	<key>NSCameraUsageDescription</key>
	<string>Aplikasi memerlukan akses kamera untuk fitur monitoring CCTV.</string>
	<!-- Izin mikrofon -->
	<key>NSMicrophoneUsageDescription</key>
	<string>Aplikasi memerlukan akses mikrofon untuk merekam audio dari kamera.</string>
	<!-- Izin Face ID untuk login biometrik -->
	<key>NSFaceIDUsageDescription</key>
	<string>Gunakan Face ID untuk masuk ke akun Anda dengan lebih cepat dan aman.</string>
	<!-- Izin akses foto/video -->
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Diperlukan untuk menyimpan snapshot dan rekaman kamera.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Diperlukan untuk menyimpan snapshot dari kamera CCTV.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
</dict>
</plist>
